body {
  min-width: 1170px;
  overflow-x: auto;
  background: #fff; }

.container {
  min-width: 1170px !important;
  max-width: 1170px !important;
  width: 1170px !important; }

a {
  text-decoration: underline; }

.label {
  font-size: 13px; }

.page-heading {
  padding-top: 20px; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.header nav li.active, .header nav li a:hover, .header nav li a:focus {
  background: transparent !important; }

.top-search {
  width: 300px;
  padding: 8px 0; }

.breadcrumb {
  margin-top: 30px; }

.heading {
  position: relative; }
  .heading a.pull-right {
    color: #a7b1c2; }
    .heading a.pull-right i {
      color: #a7b1c2;
      margin-right: 5px; }
  .heading .label-box {
    margin-bottom: 5px;
    width: 540px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
    .heading .label-box button {
      background: transparent;
      border: 0;
      text-decoration: underline;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      margin-left: 5px;
      color: #337ab7; }
      .heading .label-box button:focus {
        outline: none; }
      .heading .label-box button:hover {
        text-decoration: none; }

.user-info li {
  vertical-align: middle; }
  .user-info li a {
    color: #a7b1c2; }
    .user-info li a .fa {
      font-size: 25px; }

.problems .flex {
  margin-bottom: 20px; }
.problems .problem-details {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 550px;
      -ms-flex: 0 0 550px;
          flex: 0 0 550px;
  padding: 10px; }
  .problems .problem-details .table {
    border: 1px solid #f3f3f4; }
    .problems .problem-details .table td {
      border: 1px solid #f3f3f4;
      padding: 10px 20px; }
      .problems .problem-details .table td:first-child {
        width: 120px; }
  .problems .problem-details .problem-description {
    min-height: 200px; }
  .problems .problem-details .button-box {
    padding-top: 10px; }
    .problems .problem-details .button-box .btn {
      min-width: 150px; }
    .problems .problem-details .button-box .btn + .btn {
      margin-left: 30px; }
.problems .problem-board {
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }
.problems .board {
  padding: 10px 20px 5px; }
  .problems .board + .board {
    margin-top: 20px; }
  .problems .board.board-before {
    height: 118px; }
  .problems .board:last-child {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
  .problems .board .text-danger, .problems .board dd {
    font-size: 20px;
    font-weight: 600; }
  .problems .board dd {
    margin-bottom: 10px;
    color: #a7b1c2; }
  .problems .board dt {
    font-weight: 400;
    margin-bottom: 10px; }
  .problems .board span {
    font-size: 12px; }
.problems .time-table {
  padding: 10px; }

.problem-choose .problem-form {
  background: #e7eaec;
  padding: 10px;
  margin-bottom: 15px; }
  .problem-choose .problem-form .form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .problem-choose .problem-form .form > div {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto; }
      .problem-choose .problem-form .form > div + div {
        margin-left: 15px; }
      .problem-choose .problem-form .form > div:first-child {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
      .problem-choose .problem-form .form > div:last-child {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 300px;
            -ms-flex: 1 0 300px;
                flex: 1 0 300px; }
    .problem-choose .problem-form .form input[type="checkbox"] {
      vertical-align: top;
      margin-right: 5px; }
.problem-choose .link-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .problem-choose .link-menu a {
    color: #a7b1c2;
    padding: 5px 0;
    display: block; }
  .problem-choose .link-menu li.active a {
    color: #676a6c;
    text-decoration: none;
    cursor: default; }
.problem-choose .problem-list .collapse-panel {
  padding: 5px;
  margin-top: 15px; }
  .problem-choose .problem-list .collapse-panel .fa-plus {
    width: 30px;
    background: transparent;
    border: 0; }
    .problem-choose .problem-list .collapse-panel .fa-plus:focus {
      outline: none; }
.problem-choose .problem-list table {
  margin-bottom: 0; }
  .problem-choose .problem-list table tr.active td {
    background: #fcf8e3; }
  .problem-choose .problem-list table tr td {
    border-bottom: 1px solid #e7eaec;
    vertical-align: middle; }
    .problem-choose .problem-list table tr td .comment {
      font-size: 30px;
      color: #a7b1c2; }
  .problem-choose .problem-list table th {
    border-bottom: 0; }
  .problem-choose .problem-list table th.importancy {
    width: 130px; }
.problem-choose .date-table {
  padding: 10px; }

.modal .modal-header {
  text-align: left;
  padding: 15px 30px; }
  .modal .modal-header span {
    vertical-align: middle; }
  .modal .modal-header a {
    display: inline-block;
    margin: 0 20px;
    color: #a7b1c2; }
    .modal .modal-header a i {
      font-size: 30px;
      margin-right: 5px;
      vertical-align: middle; }
.modal .checkbox label {
  padding-left: 0; }
.modal .panel .nav-tabs {
  border: 0; }
.modal .panel .tab-pane {
  height: 325px; }
.modal .panel li {
  width: 50%; }
  .modal .panel li a {
    padding: 10px 20px;
    margin-right: 0;
    text-decoration: none;
    background: #f5f5f5;
    border: 1px solid #e7eaec; }
  .modal .panel li.active a {
    border-bottom: 1px solid transparent;
    background: none; }
.modal .panel .panel-heading {
  padding: 0; }
.modal .panel .panel-body {
  border: 1px solid #e7eaec;
  border-top: 0; }
.modal .table td {
  padding: 0;
  vertical-align: middle; }
  .modal .table td label {
    margin: 0; }
  .modal .table td:first-child {
    padding: 10px 20px; }
  .modal .table td input {
    border: 0; }
.modal .btn {
  min-width: 170px;
  margin-top: 20px; }
.modal .data {
  margin: 30px 0 0; }
.modal .date-link {
  padding-top: 100px;
  margin-bottom: 30px; }
  .modal .date-link a {
    color: #a7b1c2; }
    .modal .date-link a.active {
      color: #676a6c;
      text-decoration: none; }
.modal .date-widget .widget-date, .modal .date-widget .widget-time {
  padding: 10px;
  font-size: 18px; }
.modal #tab-1 .buttons-group {
  display: none; }
.modal #widget-2 {
  display: none; }


/*# sourceMappingURL=main.css.map */